/*.form-div {*/
/*    margin-top: 100px;*/
/*    border: 1px solid #e0e0e0;*/
/*    padding-top: 15px;*/
/*    height: 180px;*/
/*}*/

#profileDisplay {
    display: block;
    height: 100px;
    width: 60%;
    margin: 0px auto;
    border-radius: 50%;
}

.img-placeholder {
    width: 60%;
    color: white;
    height: 100%;
    background: black;
    opacity: .7;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.img-placeholder h6 {
    margin-top: 50%;
    color: white;
}
.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}